@keyframes slide-in-left {
   0% {
     transform: translateX(-1000px);
     opacity: 0;
   }
   100% {
     transform: translateX(0);
     opacity: 1;
   }
}

.piano-wrapper{
   display: inline-block;
   width: 70%;
   height: 70%;
   outline: none;
}

.piano-svg{
   width: 100%;
   height: 100%;
   padding: 20px;
   display: flex;
   border-Radius: 15px;
   outline: none;
   background-Size: contain;
   animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.material-ui-modal{
   display: flex;
   justify-content: center;
   align-items: center;
}

.inner-DIV{
   color: #eee;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.styled-Form-Container{
   width: 70%;
   height: 70%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.span-container{
   margin: 20px;
   padding: 0 20px 10px 20px;
}

.login-span, .register-span{
   margin: 30px;
   padding: 20px;
}

.login-span:hover, .register-span:hover{
   cursor: pointer;
}

.active-mode {
   color: #eee;
   background: red;
   border-radius: 15px;
   transition: background 1s ease;
   text-shadow: 1px 1px 1px black;
}

.styled-Inputs{
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   height: 50%;
   width: 100%;
}

.input-field {
   position: relative;
   width: 250px;
   height: 44px;
   line-height: 44px;
}
@keyframes pulsate-fwd {
   0% {
     transform: scale(1);
   }
   50% {
     transform: scale(1.1);
   }
   100% {
     transform: scale(1);
   }
 }

 @keyframes wobble-hor-bottom {
   0%,
   100% {
     transform: translateX(0%);
     transform-origin: 50% 50%;
   }
   15% {
     transform: translateX(-30px) rotate(-6deg);
   }
   30% {
     transform: translateX(15px) rotate(6deg);
   }
   45% {
     transform: translateX(-15px) rotate(-3.6deg);
   }
   60% {
     transform: translateX(9px) rotate(2.4deg);
   }
   75% {
     transform: translateX(-6px) rotate(-1.2deg);
   }
 }

.login-button, .register-button{
   position: absolute;
   bottom: 0;
   text-align: center;
   padding: 20px;
   border-radius: 15px;
}

.login-button:hover, .register-button:hover{
   cursor: pointer;
   background: red;
   color: #eee;
   animation: pulsate-fwd 0.5s ease-in-out infinite both;
}

.disabled-button:hover{
   cursor: pointer;
   background: rgba(239, 239, 239, 0.3);
   animation: wobble-hor-bottom 2s both;
}


.cross-icon{
   color: red;
   display: flex;
   align-items: center;
   height: 100%;
   position: absolute;
   top: 0;
   right: 0;
}
.cross-icon:hover{
   color: darkred;
}

.check-icon{
   color: lightgreen;
   display: flex;
   align-items: center;
   height: 100%;
   position: absolute;
   top: 0;
   right: 0;
}

label {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   color: grey;
   transition: 0.1s all;
   cursor: text;
   text-align: center;
}
input {
   width: 100%;
   border: 0;
   outline: 0;
   padding: 0.5rem 0 0.5rem 0.5rem;
   border-bottom: 2px solid #d3d3d3;
   box-shadow: none;
   color: #111;
   border-radius: 5px;
   box-sizing: border-box;
}

input::before{
   padding-right: 1rem;
}

input:focus,
input:valid {
   border-color: red;
}

.custom-label{
      font-size: 14px;
      left: -105%;
      text-align: right;
      color: red;
}


@media only screen and (max-width: 1024px) {
   .piano-svg{
      height: 70%;
   }

   .styled-Inputs{
      height: 60%;
   }
 }

 @media (max-width: 600px){
   .clef-key{
     display: none;
   }
 }