@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

#title{
   font-family: 'Great Vibes', cursive;
   font-size: 7rem;
   position: absolute;
   top: 2rem;
}

@keyframes vibrate-2 {
   0% {
     transform: translate(0);
   }
   20% {
     transform: translate(2px, -2px);
   }
   40% {
     transform: translate(2px, 2px);
   }
   60% {
     transform: translate(-2px, 2px);
   }
   80% {
     transform: translate(-2px, -2px);
   }
   100% {
     transform: translate(0);
   }
 }

 @keyframes pulsate-fwd {
   0% {
     transform: scale(1);
   }
   50% {
     transform: scale(1.1);
   }
   100% {
     transform: scale(1);
   }
 }

.clef-key{
   position: absolute;
   right: 1.5em;
   top: 1.5em;
   width: 3em;
   cursor: pointer;
}

.clef-key:hover{
   animation: pulsate-fwd 0.5s ease-in-out infinite both;
}

.exit-sign{
   position: absolute;
   right: 1.5em;
   top: 1.5em;
   width: 3em;
   cursor: pointer;
   fill: black;
}

.exit-sign:hover{
   animation: vibrate-2 0.3s linear infinite both;
}