@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Orbitron:wght@500&display=swap');

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
     transform: translateX(0);
     opacity: 1;
  }
}

#pianoTitle{
   font-family: 'Great Vibes', cursive;
   font-size: 3rem;
   position: absolute;
   top: 5px;
   left: 5px;
   animation: 1s ease-out 0s 1 slideInFromLeft;
}
#soundboardTitle{
   font-family: 'Orbitron', sans-serif;
   font-size: 3rem;
   position: absolute;
   top: 5px;
   left: 5px;
   animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes vibrate-2 {
   0% {
     transform: translate(0);
   }
   20% {
     transform: translate(2px, -2px);
   }
   40% {
     transform: translate(2px, 2px);
   }
   60% {
     transform: translate(-2px, 2px);
   }
   80% {
     transform: translate(-2px, -2px);
   }
   100% {
     transform: translate(0);
   }
 }

 @keyframes pulsate-fwd {
   0% {
     transform: scale(1);
   }
   50% {
     transform: scale(1.1);
   }
   100% {
     transform: scale(1);
   }
 }


 @keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.clef-key{
   position: absolute;
   right: 1.5em;
   top: 1.5em;
   width: 3em;
   cursor: pointer;
   z-index: 1200;
   animation: 1s ease-out 0s 1 slideInFromRight;
}

.clef-key:hover{
   animation: pulsate-fwd 0.5s ease-in-out infinite both;
}

.exit-sign{
   position: absolute;
   right: 1.5em;
   top: 1.5em;
   width: 3em;
   cursor: pointer;
   fill: black;
   z-index: 1200;
}

.exit-sign:hover{
   animation: vibrate-2 0.3s linear infinite both;
}

@keyframes slideFromTheTop {
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0);
  }
}

@media only screen and (max-width: 600px) {
  #pianoTitle, #soundboardTitle{
    display: absolute;
    top: 10px;
    left: auto;
    font-size: 2.5rem;
    animation: 1s ease-out 0s 1 slideFromTheTop;
  }
}